.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: rgba(255, 71, 71, 0.71);
  border: 2px solid black;
  border-radius: 15px;
}

.side_bar {
  position: fixed;
  right: 0px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(255, 71, 71, 0.71);
  border: 2px solid black;
  border-radius: 15px;
}

ul {
  padding: 20px 20px 20px 20px;
  text-align: center;
}

li {
  list-style-type: none;

}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

th {
  text-align: left;
}

html{
 background: url('../background.jpg')no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button {
   border-top: 1px solid #808080;
   background: #0E9CB8;
   background: -webkit-gradient(linear, left top, left bottom, from(#184B83), to(#0E9CB8));
   background: -webkit-linear-gradient(top, #184B83, #0E9CB8);
   background: -moz-linear-gradient(top, #184B83, #0E9CB8);
   background: -ms-linear-gradient(top, #184B83, #0E9CB8);
   background: -o-linear-gradient(top, #184B83, #0E9CB8);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #e33535;
   color: #cfc7cf;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }