<div class="container">
  <% if @result == "true" %>
    <h3>You are correct! Nice job!</h3>
    <% else %>
    <h3>Sorry, your answer is incorrect</h3>
    <% end %>

    <a href="/game_play"><button>Next Card</button></a>
</div>