<div class="container">
  <h2> Question: </h2>
  <p><%= @question %></p>
  <form action= "/game_round" name="guess_form" method="get" id="guess_form">
    <label for="guess"> Type your guess: </label>
    <input type="text" id="guess" name="guess">
    <input type="hidden" name="answer" value=<%= @answer %>>
    <input type="submit" value="Check my guess">
  </form>
</div>