<div >
  <h2> Question <%= session[:counter] %>/<%= deck_size %>: </h2>

  <p><%= @question %></p>
  <form action="/guess_attempt" method='post' name="guess_form" id="guess_form">
    <label for="guess"> Type your guess: </label>
    <input type="text" id="guess" name="guess">
    <input type="hidden" name="answer" value="<%= @answer %>">
    <input type="submit" value="Check my guess">
  </form>

</div>