<div class="container">
  <p>Instructions:</p>
  <p>Please enter text without double quotes</p>

  <form action='/create_card' method='post'>
    <label for='question'>Enter your question:</label>
    <input type="text" name="question">
    <br>
     <label for='answer'>Enter your answer:</label>
    <input type="text" name="answer">
    <br>
    <input type="submit" value="Create Card">
  </form>
<br>
  <a href="/decks"><button>Done creating cards</button></a>

  </div>