<div class="container">
  <h1>Welcome to Web Flashcards</h1>
  <h2> The Fruitness! </h2>
  <p></p>
</div>

<div class="container">
  <h2> Login </h2>
  <div class="login_error"></div>
  <form name="input" action="/login" id="login_form" method="POST">
    Username: <input type="text" name="username"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input class="button" type="submit" value="Login">
  </form>
</div>

